
body {
	font-size: 16px;
	background-color: #f8d4d40e;
}


.jumbotron {

	color: #fff;
	padding-top:450px;
    margin-left: -90px;
align-items: center;
}

.thumbnail {
	border: none;
}

footer {
	background-color: #f2f2f2;
	padding: 30px;
	margin-top: 50px;
    width: 100%;
	color: #666;
}


.text-center a {
    text-decoration: none;
    color: #fff;
}
footer ul li {
	display: inline-block;
	margin-right: 20px;
  }
  
footer ul li a {
	font-size: 30px;
  }
  .bi{
	color: black;
}
.bi:hover{
	color: red;
}
#imagem{
	object-fit: cover;
}
a{
	cursor: pointer;
}