.card {
    width: 180px;
    border-radius: 40px;
    max-width: 100%;
}

.container-card {
    width: 100%;
    margin-top: 90px;
    margin-bottom: 70px;

}

.texto-cinema {
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    padding-bottom: 5px;
}

#img-film {
    width: 80%;
    padding: 1px;
    padding-top: 10px;
    border-radius: 40px;
    border: none;

}

.hover-cinema:hover,
#img-film:hover {
    transform: scale(1.01, 1.01);
    animation: ease-in;
    z-index: 1;
}

.hover-loja:hover,
#img-loja:hover {
    transform: scale(1.01, 1.01);
    animation: ease-in;
    z-index: 1;
}
#card {
    border: none;
    margin: 0;
}
footer {
	background-color: #f2f2f2;
	padding: 30px;
	margin-top: 50px;
    width: 100%;
	color: #666;
}

#card-loja {
    border: none;
    margin: 220px;
}
.text-center {
    margin-top: 5px;
}

.text-center a {
    text-decoration: none;
    color: #fff;
}

.text-center a:hover {
    text-decoration: none;
    color: black;
}
#filmes{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .card-img-top {
        max-width: 100%;
        height: auto;
    }
    
    .container-card {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .loja {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 45px;
    }
    #card-loja {
        width: 40%;
        border: none;
        margin: 5px;
        
    }
}
@media (min-width: 768px) {
    .loja {
       

        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 45px;
    }
    #card-loja {
        width: 20%;
        border: none;
        margin: 5px;
        
    }
}


#tirar-bordaa {
    border: none;
}

.loja {
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}

#texto-loja {
    font-weight: bold;
    margin-top: 10px;
    background-color: rgba(168, 168, 168, 0.151);
}

footer ul li {
	display: inline-block;
	margin-right: 20px;
  }
  
footer ul li a {
	font-size: 30px;
  }
  .bi{
	color: black;
}
.bi:hover{
	color: red;
}
body {
	font-size: 16px;
	background-color: #f8d4d40e;
}
